<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose</title>
    <link rel="icon" type="image/x-icon" href="./images/In_Memory_Logo-08.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  
</head>
<body>
   

<div class="container-fluid section1image">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text flex height">
                <div class="flex forms">

                    <h1 class="size">Escolha Voz</h1>
                          {% with messages = get_flashed_messages() %}
                         {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                            {% endif %}
                            {% endwith %}
                            <form method="post">
                                <label for="voice_type">Selecione o tipo de voz:</label><br>
                                <select name="voice_type" id="voice_type" class="widthselect">
                                    <option value="0">Macho</option>
                                    <option value="1">Fêmeo</option>
                                </select><br> <br>
                                <input type="submit" value="Enviar" class="button">
                            </form>
                </div>
            </div>
            <div class="col-md-6 text  flex height">
                <div>
                    <img src="../static/css/4.png" class="imgwidth">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->

</body>
</html>
